.page-webview {
  height: 100vh;
  
  .webview-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 88rpx;
    background: #0f0f1a;
    display: flex;
    align-items: center;
    padding: 0 32rpx;
    z-index: 1000;
    border-bottom: 1rpx solid #2a2a4a;

    .back-btn {
      font-size: 36rpx;
      color: #e8e8e8;
      margin-right: 24rpx;
      width: 40rpx;
      text-align: center;
    }

    .webview-title {
      font-size: 28rpx;
      color: #e8e8e8;
      flex: 1;
      text-align: center;
    }
  }

  .webview-container {
    margin-top: 88rpx;
    height: calc(100vh - 88rpx);
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    text {
      font-size: 28rpx;
      color: #888;
    }
  }
}